<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.StudentMapper">
	<resultMap type="dto.StudentDTO" id="student">
		<id column="STD_NO" property="studentNo" />
		<result column="STD_NAME" property="studentName" />
		<result column="STD_SCORE" property="score" />
		<result column="GENDER" property="gender" />
		<result column="MAJOR_NO" property="majorNo" />
	</resultMap>

	<select id="selectAllStudent" resultMap="student">
		select * from student
	</select>

	<insert id="insertStudent" parameterType="dto.StudentDTO">
		insert into student
		values(#{studentNo},#{studentName},#{score},#{gender},#{majorNo})
	</insert>

	<update id="updateStudent" parameterType="dto.StudentDTO">
		update student set
		std_name = #{studentName}, std_score = #{score},
		gender = #{gender},
		major_no = #{majorNo}
		where std_no like #{studentNo}
	</update>

	<delete id="deleteStudent" parameterType="string">
		delete from student
		where std_no like #{studentNo}
	</delete>

	<select id="selectStudent" parameterType="string"
		resultMap="student">
		select * from student where std_no like #{studentNo}
	</select>
</mapper>






